@model SuntoryManagementSystem.Models.StockAdjustment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockAdjustment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjustmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjustmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjustmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjustmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjustedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjustedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StockAdjustmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
