@model IEnumerable<SuntoryManagementSystem.Models.StockAdjustment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdjustmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdjustmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdjustedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdjustmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdjustmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdjustedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockAdjustmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StockAdjustmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StockAdjustmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
